body {
  font-family: 'B612 Mono', monospace;
  text-align: center;
  margin-top: 30px;
}

.head {
  font-size: 30px;
  margin: 20px;
}

.input input {
  font-family: 'B612 Mono', monospace;
  margin: 20px;
  padding-left: 10px;
  height: 35px;
  width: 400px;
}

.clear_btn button {
  font-family: 'B612 Mono', monospace;
}